body {
    background-color: #282838;
    color: white;
    font-family: "SF Pro Display", 'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 50px;
    padding-right: 50px;
    color: white;
}

.body-content .table {
    color: white;
}

.navbar-items {
    display: inline-flex;
    width: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar-right {
    float: right;
}

.nav-link.text-white:hover {
    color: #5cc1e8 !important;
}

.bg-black {
    background-color: black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.card {
    color: black !important;
}

.card a {
    color: black !important;
}

.card a:hover {
    text-decoration: none;
    color: black !important;
}

.pointer {
    cursor: pointer;
}